.navBarWrapper {
  padding: 15px;
  transition: all 0.1s ease;
  position: relative;
  background: #fff;
  box-shadow: 0px 1px 4px 0px #15223214;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftNav {
  display: flex;
  gap: 140px;
}

.navBarScrolled,
.navBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 15px;
}

.navBarScrolled {
  backdrop-filter: blur(60px);
  position: fixed;
  z-index: 23;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
    rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  backdrop-filter: blur(2.625rem);
  color: rgb(255, 255, 255);
  top: 0.75rem;
  right: 0px;
  width: calc(100% - 300px);
  min-height: 4rem;
  border-radius: 1.25rem;
  padding: 20px;
  background-color: transparent !important;
  border-color: rgba(226, 232, 240, 0.3) !important;
  margin-inline: 15px;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all ease 0.3s;
}

.messages:hover svg {
  color: #1e5eff;
}

.messages svg {
  color: #151b26;
  width: 20px;
  height: 20px;
}

.notificationsValue {
  position: absolute;
  left: 9px;
  top: -5px;
  background: #1e5eff;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchFieldWrapper {
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s all ease;
  border: 0.5px solid transparent;
}

.searchFieldWrapper svg {
  color: #7e84a3;
  cursor: pointer;
  transition: 0.3s all ease;
  width: 20px;
  height: 18px;
}

.searchFieldWrapper input {
  outline: none;
  background: transparent;
  border: none;
}

.searchFieldWrapper input::placeholder {
  color: #7e84a3;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.searchFieldWrapper:focus-within {
  border: 0.5px solid #7e84a3;
}

.avatar {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
}

.menu,
.menuOpen {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  padding-top: 50px;
  transition: all 0.3s;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  width: 250px;
  /* background: white; */
}

.menuOpen {
  opacity: 1;
  visibility: visible;
  height: auto;
  z-index: 200;
}

.content {
  border-radius: 6px;
  background: rgba(255, 255, 255);
  padding-block: 15px;
  border: 1px solid #d9e1ec;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.title {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff1a;
  text-transform: uppercase;
  padding-inline: 15px;
}

.title span {
  font-size: 14px;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}

.bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  padding-inline: 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid #d9e1ec;
}

.item {
  font-size: 14px;
  padding: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  background: transparent;
}

.item:hover {
  color: #1e5eff;
  background: #ecf2ff;
}

.item svg {
  flex-shrink: 0;
  font-size: 20px;
}

.picture {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.action,
.actionOpen {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.action svg,
.actionOpen svg {
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.actionOpen svg {
  transform: rotate(180deg);
  font-size: 20px;
}

.username {
  font-size: 14px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action svg {
  font-size: 20px;
}

.time .label {
  font-variant: small-caps;
  font-size: 14px;
}

.time .dataFormat {
  width: 75px;
  text-align: right;
  margin-right: 5px;
}

.signin,
.navIcon {
  cursor: pointer;
  color: #fff;
  transition: 0.3s all ease;
}

.signin {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signin:hover,
.navIcon:hover,
.searchFieldWrapper svg:hover {
  color: #0075ff;
}

.signin svg,
.navIcon,
.hamburger,
.hamburgerActive {
  width: 15px;
  height: 15px;
}

.signin p {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.hamburger,
.hamburgerActive {
  display: none;
}

@media screen and (max-width: 768px) {
  .navBarScrolled {
    width: calc(100% - 20px);
    right: -5px;
  }

  .leftNav {
    gap: 50px;
  }

  .hamburger,
  .hamburgerActive {
    position: relative;
    z-index: 1670;
    cursor: pointer;
    display: block;
  }

  .hamburger span,
  .hamburgerActive span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: #5a607f;
    margin: 3px 0;
    transition: all 0.3s ease;
  }

  .hamburgerActive span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
  }

  .hamburgerActive span:nth-child(2) {
    opacity: 0;
  }

  .hamburgerActive span:nth-child(3) {
    transform: rotate(-45deg) translate(3.5px, -3.5px);
  }
}

@media screen and (max-width: 576px) {
  .navBarScrolled {
    justify-content: flex-end;
  }

  .username {
    display: none;
  }

  .menu,
  .menuOpen {
    width: 200px;
    /* top: 50px; */
  }

  .navBarScrolled {
    padding: 15px;
  }

  .searchFieldWrapper {
    display: none;
  }

  .signin p,
  .title {
    display: none;
  }
}
